/* LANDING PAGE */
@import "tailwindcss";

:root {
  --background: #5d0933;   /* Color de fondo de la landing */   /*gradient(#e66465, #9198e5);*/   
  --foreground: #ffffff;   /* Color de la letra */
  --container: 1200px;       /* Espacio que abarca el contenido/anchura*/
  --border: #ffffff;       /* Color de los bordecitos */
  --brand-600: #050505;    /* Color de los botones */ 
  --shadow: 0 4px 6px -1px rgba(253, 127, 211, 0.873);  /* Sombras para botones y targetitas*/
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; /* Tipo de letra */
}

/* Contenedor principal */
.container {
  width: min(100% - 2rem, var(--container));    /* Anchura del contenido */
  margin-inline: auto;    /* Centrar contenido dentro del contenedor*/
  padding: 1rem 1rem;     /* Margen Vertical y Horizontal*/
}

/* Secciones */
.section {
  padding: 4rem 0;
}

.section.center {
  text-align: center;
}

/* Columnas responsivas */
.col-4 {
  grid-column: span 4;
}

.col-md-6 {
  grid-column: span 6;
}

.col-sm-12 {
  grid-column: span 12;
}

@media (max-width: 768px) {
  .col-md-6 {
    grid-column: span 12;
  }
}

@media (max-width: 640px) {
  .col-sm-12 {
    grid-column: span 12;
  }
}

/* Targetitas  */
.card {
  background: var(--brand-600);
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out; /* Tiempo en hacer la transisión */
}

.card:hover {
  transform: translateY(-5px);  /* Movimiento de las tarjetitas al pasarles el cursor */
}

/* Boton */
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: var(--brand-600);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 2rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow);
  cursor: pointer;
  padding: .75rem 3rem;
}

.btn:hover {
  background: #fa2e90;
  transform: translateY(-3px);
}

/* Tipografía */
h1 {
  font-size: 3.5rem;      /* Tamaño de la letra */
  font-weight: 800;     /* En negritas */
  line-height: 1.2;     /* Interlineado */
  margin-bottom: 4rem;  /* Espacio hacia abajo */
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

p {
  line-height: 1.2;
  margin-bottom: 1rem;  
}

/* Footer */
footer {
  background: #13000c7e;
  padding: 1rem 0;      /* Margenes */
  text-align: center;
  margin-top: 3rem;     /* Separación/espacio hacia arriba */
}

/* Letra responsiva */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  .section {
    padding: 2rem 0;
  }
}


/* Grid system */
/*.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}*/

/* COLORES PARA EL TEMA OSCURO
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
     --border: #374151;
  }
}
*/