.hero{
    background: radial-gradient(1200px 400px at 50% - 20%, rgba(65, 3, 36, 0.86), transparent),
    linear-gradient(180deg, rgba(27, 27, 38m 0.8), rgba(27, 27, 38, 0));
    padding: 3rem 0;
    border-bottom: 1px solid var(--border);
    font-size: 1.3rem;
}

.inner{
    width: min(100% - 2rem, var(--container));
    margin-inline: auto;    
    text-align: center;
}

/* Boton del Hero */
.cta{
    display: inline-block;
    margin-top: 0;
    padding: .75rem 3rem;
    border-radius: 500px;
    background: var(--brand-600);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: var(--shadow);
    transition: all 0.2s ease-in-out;
}

.cta:hover{
    filter: brightness(1.1);
    background: #fa2e90;
    transform: translateY(-3px);
}